html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

/* NAVIGATION */
ul.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color: #3F5167;
  text-align: center;
/*border-top: 3px solid rgba(193,159,96,1);
  border-bottom: 3px solid rgba(193,159,96,1);*/
}

ul.main-nav li {
	display: inline-block;
}

ul.main-nav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  width:140px;
}

ul.main-nav li a:hover {
/*	background-color: #555;*/
	background-color: rgba(193,159,96,1);
}

ul.main-nav li.icon {
	display: none;
}

@media screen and (max-width:680px) {
  ul.main-nav li:not(:first-child) {display: none;}
  ul.main-nav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.main-nav.responsive {position: relative;}
  ul.main-nav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.main-nav.responsive li {
    float: none;
    display: inline;
  }
  ul.main-nav.responsive li a {
    display: block;
    text-align: left;
  }
}

/*  JUMBOTRON */
.jumbotron {
  margin-bottom: 0%;
  background: url(../img/emergency.jpeg) no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
  -webkit-filter: grayscale(0.5);
  filter: grayscale(0.5);
  opacity: 1;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;

/*transition: opacity;
  transition-duration: 0.6s;*/
}

.page-header {
  text-align: center;
  padding: 3%;
  margin-top: 5%;
  background: rgba(255, 255, 255, 0.4);
  border: none;
}

.page-header h1 {
  font-size: 100px;
  font-weight: 700;
  overflow: hidden; /*fix with media query */
}


/* Sections */
.sections {
  padding: 1% 10% 5% 10%;
  background-color: #ECEFF1;
}

.sections h2 {
  text-align: center;
}

.sections img {
  opacity: 0.7;
}


/* What We Do */
.what-we-do {
  margin-bottom: 0%;
  background: url(../img/emergency.jpeg) no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
  -webkit-filter: grayscale(0.5);
  filter: grayscale(0.5);
  opacity: 1;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;

/*  transition: opacity;
  transition-duration: 0.6s;*/
}

.what-we-do-header {
  text-align: center;
  color: black;
  padding: 3%;
  margin-top: 5%;
  background: rgba(255, 255, 255, 0.8);
  border: none;

}

.what-we-do-header h1 {
  font-size: 90px;
  font-weight: 700;
  overflow: hidden; /*fix with media query */
}


/* History */
.history {
  padding: 1% 6% 5% 10%;
/*  background-color: #ECEFF1;
*/  background-color: white;
}

.history h1 {
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  text-decoration: underline;
  margin: 4% 0 4% 0;
}

.history img {
  opacity: 1;
}


/* Achievements */
.achievements {
  padding: 1% 10% 2% 10%;
  background-color: #ECEFF1;
}

.achievements h1 {
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  text-decoration: underline;
  margin: 4% 0 4% 0;
}

.achievements p {
  font-size: 22px;
  margin: 0 0 12% 0;
}

.achievements img {
  opacity: 1;
}

.achievements .side-a {
  padding: 0% 4% 1% 2%;
}

.achievements .side-b {
  padding: 0% 2% 1% 4%;
}


/* Projects */
.projects h1 {
  font-size: 100px;
  font-weight: bold;
  text-decoration: underline;
  margin: 4% 0 4% 0;
}


/* Google Maps */
#map {
  margin-top: 300px;
  width: 100%;
  height: 400px;
  filter:grayscale(90%);
  -webkit-filter:grayscale(90%);
}


/* Footer */
.footer {
  background-color: #3F5167;
  color: white;
  padding: 3% 5% 5% 5%;
}

.footer p {
  font-size: 18px;
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 18px;
}












/* Filter Menu Projects */
.container { 
  position: relative; 
  margin: 0 auto; 
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;  

}

.tiles { 
  position: relative; 
  margin: 0 auto; 
  padding: 1% 5% 0% 5%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;  
  height: 700px;
  text-align: center;
}

.tiles h1 {
  text-align: center;
}
 
#filters {
  margin:1% 1% 1% 1%;
  padding: 1%;
  list-style:none;
  background-color: #3F5167;
  width: 600px;
}

.tiles #filters ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 500px;
}

.tiles #filters li {
  float: left;
}
  
#filters li span {
  display: block;
  padding:5px 40px;   
  text-decoration:none;
  color:white;
  cursor: pointer;
}
  
#filters li span.active {
  background-color: rgba(193,159,96,1);;
}
 
#filters li:hover {
  background: red;
  background-color: rgba(193,159,96,1);
}

#portfoliolist .portfolio {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  width:18%;
  margin:0% 1% 1% 1%;
  display:none;
  float:left;
  overflow:hidden;
  text-align: left;
}

.portfolio-wrapper {
  overflow:hidden;
  position: relative !important;
  background: #666;
  cursor:pointer;
}

.portfolio img {
  max-width:100%;
  position: relative;
  top:0;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);   
  -webkit-filter: grayscale(50%);
  filter:grayscale(50%);
}

.portfolio img:hover {
  -webkit-filter: grayscale(0%);
  filter:grayscale(0%);
}

.portfolio .label {
  position: absolute;
  width: 100%;
  height: 90px;
  bottom:-40px;
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label-bg {
  background-color: #3F5167;
  width: 100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
}

.portfolio .label-text {
  font-size: 20px;
  position: relative;
  z-index:500;
  padding: 12px 0px 0px 0px;
}

.portfolio .text-category {
  display:block;
}

.portfolio:hover .label {
  bottom:0;

}
.portfolio:hover img {
  top:-30px;
}  

.text-title {
  color: white;
  padding: 5%;
}

.text-title:hover {
  color: white;
  text-decoration: none;
}

/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px; 
  }
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .container { 
    width: 95%; 
  }
  
  #portfoliolist .portfolio {
    width:48%;
    margin:1%;
  }   

  #ads {
    display:none;
  }
  
}


/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 70%;
  }
  
  #ads {
    display:none;
  }
  
}

/* #Clearing */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}


html {
  overflow-y: scroll;
}